In [1]:
from Worker import Worker

In [2]:
import pandas as pd

In [3]:
import matplotlib.pyplot as plt

In [4]:
import numpy as np

In [5]:
from sklearn.feature_extraction.text import CountVectorizer

In [6]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [7]:
from sklearn.metrics.pairwise import cosine_similarity

In [8]:
import sklearn.datasets as datasets

In [9]:
from Recommender import Recommender

In [10]:
print('starting worker....')
worker = Worker()
rec = Recommender()

print("starting to process user data")
worker.process_user_data()

print("starting to process document data")
worker.process_document_data()

worker.get_all_tags()

worker.get_school_types()

    # print("constructing product matrix")
product_matrix = worker.build_product_matrix()
documents_data = worker.get_product_matrix_data(product_matrix)
documents_df = pd.DataFrame

# def process(doc_col):
#     downloaded_documents_matrix = worker.build_downloaded_document_matrix(doc_col)
#     df = rec.get_data_frame(downloaded_documents_matrix)

#     # get just the documents
#     documents_df = rec.get_document_matrix(df)
    # get just the tags
    #tags_df = rec.get_tag_matrix(df)
    #doc_similarity = rec.calculate_document_similarity(documents_df)


    #TODO:
    # drop null values from the dataframe using dropna()

    # cosine similarity works
    # do the same for the tags

    # combine the two matrices

    # select top 10 similar values per document

for doc_col in documents_data:
    downloaded_documents_matrix = worker.build_downloaded_document_matrix(doc_col)
    df = rec.get_data_frame(downloaded_documents_matrix)

    # get just the documents
    documents_df = rec.get_document_matrix(df)
    
#     take the document against which we shall compare the similarity 
#     document = document_df[1:,]
#     doc_similarity = rec.calculate_document_similarity(documents_df[0:1], documents_df)
      
#     get just the tags
    
#     tags_df = rec.get_tag_matrix(df)

starting worker....
starting to process user data
Retrieving user data ...
Done...
starting to process document data
processing document data ....
got 1000 documents
checking downloads for 1000 users
checking downloads for 1000 docs
constructed product matrix with 1000 documents
50464e87b92d2a47a4c93852
downloads 2142
document matrix has 360 docs
50464e87b92d2a47a4c93853
downloads 1221
document matrix has 229 docs
50464e87b92d2a47a4c93854
downloads 1620
document matrix has 308 docs
50464e87b92d2a47a4c9385a
downloads 341
document matrix has 319 docs
50464e87b92d2a47a4c9385d
downloads 1642
document matrix has 201 docs

In [11]:
documents_df.shape

(201, 3)

In [15]:
documents_df.head()

   class_year  school_code  subject_code
0          10            1             1
1           6            4             1
2          10            1             1
3          10            1             1
4           8            4             1

In [13]:
df.shape

(201, 134)

In [27]:
no_nulls = df.fillna(0)

,,adjektiv,adjektive,adverb,adverbiale_bestimmungen,adverbien,aktiv_und_passiv,an_diesem_sonntag,argumentieren,artikel,...,wortfamilien,wortfeld_sprechen,wortfelder,wortschatz,wörtliche_rede,zeichensetzung,zeichensetzung_haupt-_und_nebensätze,zeitformen_gemischt,zusammengesetzte_wörter,überarbeiten_von_texten
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
no_id_df = no_nulls.drop('id', 1)

In [29]:
doc_to_compare = no_id_df[0:1]

In [34]:
doc_to_compare

,,adjektiv,adjektive,adverb,adverbiale_bestimmungen,adverbien,aktiv_und_passiv,an_diesem_sonntag,argumentieren,artikel,...,wortfamilien,wortfeld_sprechen,wortfelder,wortschatz,wörtliche_rede,zeichensetzung,zeichensetzung_haupt-_und_nebensätze,zeitformen_gemischt,zusammengesetzte_wörter,überarbeiten_von_texten
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [36]:
no_id_df.head()

,,adjektiv,adjektive,adverb,adverbiale_bestimmungen,adverbien,aktiv_und_passiv,an_diesem_sonntag,argumentieren,artikel,...,wortfamilien,wortfeld_sprechen,wortfelder,wortschatz,wörtliche_rede,zeichensetzung,zeichensetzung_haupt-_und_nebensätze,zeitformen_gemischt,zusammengesetzte_wörter,überarbeiten_von_texten
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [50]:
test = no_nulls[['id', 'school_code', 'class_year', 'subject_code']]

In [51]:
test.head(20)

                          id  school_code  class_year  subject_code
0   50464e87b92d2a47a4c9385d            1          10             1
1   50464e8bb92d2a47a4c93b6c            4           6             1
2   50464e8ab92d2a47a4c93ae4            1          10             1
3   50464e87b92d2a47a4c93861            1          10             1
4   50464e89b92d2a47a4c93a3f            4           8             1
5   50464e8ab92d2a47a4c93ae3            1          10             1
6   50464e89b92d2a47a4c939d7            4           9             1
7   50464e89b92d2a47a4c93a0b            4           8             1
8   50464e89b92d2a47a4c93a0a            1           5             1
9   50464e89b92d2a47a4c93a09            1           5             1
10  50464e87b92d2a47a4c93860            1          10             1
11  50464e87b92d2a47a4c9385d            1          10             1
12  50464e89b92d2a47a4c939fe            4           8             1
13  50464e8bb92d2a47a4c93b15            1          10             1
14  50464e8cb92d2a47a4c93bc6            4           5             1
15  50464e8bb92d2a47a4c93b15            1          10             1
16  50464e89b92d2a47a4c93a22            6           7             1
17  50464e8fb92d2a47a4c93e5b            1           5             1
18  50464e8bb92d2a47a4c93b12            1          10             1
19  50464e89b92d2a47a4c939de            4           9             1

In [30]:
sim = cosine_similarity(doc_to_compare, no_id_df)

In [43]:
sim_df = pd.DataFrame(sim)

In [46]:
vertical_sim =sim_df.transpose()

In [52]:
combined = pd.concat([ test, vertical_sim], axis=1)

In [53]:
combined.head(20)

                          id  school_code  class_year  subject_code         0
0   50464e87b92d2a47a4c9385d            1          10             1  1.000000
1   50464e8bb92d2a47a4c93b6c            4           6             1  0.836225
2   50464e8ab92d2a47a4c93ae4            1          10             1  0.976537
3   50464e87b92d2a47a4c93861            1          10             1  0.976537
4   50464e89b92d2a47a4c93a3f            4           8             1  0.905955
5   50464e8ab92d2a47a4c93ae3            1          10             1  0.976537
6   50464e89b92d2a47a4c939d7            4           9             1  0.922722
7   50464e89b92d2a47a4c93a0b            4           8             1  0.880085
8   50464e89b92d2a47a4c93a0a            1           5             1  0.899500
9   50464e89b92d2a47a4c93a09            1           5             1  0.913027
10  50464e87b92d2a47a4c93860            1          10             1  0.976537
11  50464e87b92d2a47a4c9385d            1          10             1  1.000000
12  50464e89b92d2a47a4c939fe            4           8             1  0.895718
13  50464e8bb92d2a47a4c93b15            1          10             1  0.958233
14  50464e8cb92d2a47a4c93bc6            4           5             1  0.779221
15  50464e8bb92d2a47a4c93b15            1          10             1  0.958233
16  50464e89b92d2a47a4c93a22            6           7             1  0.813353
17  50464e8fb92d2a47a4c93e5b            1           5             1  0.879212
18  50464e8bb92d2a47a4c93b12            1          10             1  0.967147
19  50464e89b92d2a47a4c939de            4           9             1  0.922722

In [59]:
ren_combined = combined.rename(columns={'0':'similarity'})

In [60]:
ren_combined.head()

                         id  school_code  class_year  subject_code         0
0  50464e87b92d2a47a4c9385d            1          10             1  1.000000
1  50464e8bb92d2a47a4c93b6c            4           6             1  0.836225
2  50464e8ab92d2a47a4c93ae4            1          10             1  0.976537
3  50464e87b92d2a47a4c93861            1          10             1  0.976537
4  50464e89b92d2a47a4c93a3f            4           8             1  0.905955

In [63]:
combined.columns = ['id', 'school_code', 'class_year', 'subject_code', 'similarity']

In [64]:
combined.head()

                         id  school_code  class_year  subject_code  similarity
0  50464e87b92d2a47a4c9385d            1          10             1    1.000000
1  50464e8bb92d2a47a4c93b6c            4           6             1    0.836225
2  50464e8ab92d2a47a4c93ae4            1          10             1    0.976537
3  50464e87b92d2a47a4c93861            1          10             1    0.976537
4  50464e89b92d2a47a4c93a3f            4           8             1    0.905955

In [81]:
sorted_docs = combined.sort_values(['similarity'], ascending=False)

In [82]:
deduplicated = sorted_docs.drop_duplicates("id")

In [83]:
very_similar = deduplicated[(deduplicated['similarity'] > 0.95)]

In [84]:
very_similar.head(30)

,id,school_code,class_year,subject_code,similarity
0,50464e87b92d2a47a4c9385d,1,10,1,1.000000
61,50464e87b92d2a47a4c9385e,1,10,1,0.976537
43,50464e87b92d2a47a4c93860,1,10,1,0.976537
51,50464e8ab92d2a47a4c93ae4,1,10,1,0.976537
52,50464e87b92d2a47a4c93861,1,10,1,0.976537
69,50464e8ab92d2a47a4c93ae3,1,10,1,0.976537
100,50464e88b92d2a47a4c9398d,1,13,1,0.974761
104,50464e88b92d2a47a4c9396e,1,13,1,0.974761
70,50464e88b92d2a47a4c93989,1,13,1,0.974761
71,50464e89b92d2a47a4c939a7,1,13,1,0.974761
103,50464e88b92d2a47a4c93973,1,13,1,0.974761
63,50464e87b92d2a47a4c9385f,1,10,1,0.972005
78,50464e8ab92d2a47a4c93ae5,1,10,1,0.972005
105,50464e88b92d2a47a4c93987,1,13,1,0.971955
72,50464e88b92d2a47a4c93986,1,13,1,0.971955
94,50464e88b92d2a47a4c93990,1,13,1,0.971955
98,50464e88b92d2a47a4c9398a,1,13,1,0.971955
102,50464e88b92d2a47a4c93992,1,13,1,0.971955
97,50464e88b92d2a47a4c9398b,1,13,1,0.969174
92,50464e88b92d2a47a4c9398c,1,13,1,0.969174
91,50464e88b92d2a47a4c93985,1,13,1,0.969174
99,50464e89b92d2a47a4c939a6,1,13,1,0.969174
101,50464e8cb92d2a47a4c93c44,1,13,1,0.969174
18,50464e8bb92d2a47a4c93b12,1,10,1,0.967147
27,50464e87b92d2a47a4c93853,1,10,1,0.962659
114,50464e87b92d2a47a4c93897,1,10,1,0.962659
26,50464e8ab92d2a47a4c93ae6,1,10,1,0.962659
33,50464e8bb92d2a47a4c93b13,1,10,1,0.958233
49,50464e8bb92d2a47a4c93b14,1,10,1,0.958233
47,50464e8bb92d2a47a4c93b15,1,10,1,0.958233

In [77]:
deduplicated.head(30)

,id,school_code,class_year,subject_code,similarity
107,50464e87b92d2a47a4c9385a,2,3,1,0.724776
167,50464e8bb92d2a47a4c93bb0,4,5,1,0.779221
165,50464e8bb92d2a47a4c93bb1,4,5,1,0.779221
14,50464e8cb92d2a47a4c93bc6,4,5,1,0.779221
169,50464e8bb92d2a47a4c93bb2,4,5,1,0.787646
140,50464e8bb92d2a47a4c93baf,4,5,1,0.787646
143,50464e8bb92d2a47a4c93bbe,4,5,1,0.787646
154,50464e8cb92d2a47a4c93bc4,4,5,1,0.787646
170,50464e8bb92d2a47a4c93bc1,4,5,1,0.793389
149,50464e8bb92d2a47a4c93bbd,4,5,1,0.801966
16,50464e89b92d2a47a4c93a22,6,7,1,0.813353
150,50464e8bb92d2a47a4c93b6f,4,6,1,0.827590
151,50464e8bb92d2a47a4c93b69,4,6,1,0.836225
133,50464e8bb92d2a47a4c93b42,4,6,1,0.836225
146,50464e8bb92d2a47a4c93b6d,4,6,1,0.836225
144,50464e8bb92d2a47a4c93b6c,4,6,1,0.836225
166,50464e8bb92d2a47a4c93b60,4,6,1,0.836225
156,50464e8bb92d2a47a4c93b63,4,6,1,0.843658
168,50464e8bb92d2a47a4c93b62,4,6,1,0.843658
171,50464e8bb92d2a47a4c93b85,4,6,1,0.843658
124,50464e8ab92d2a47a4c93a71,4,6,1,0.843658
126,50464e8ab92d2a47a4c93a74,4,6,1,0.843658
128,50464e8bb92d2a47a4c93b5a,4,6,1,0.843658
129,50464e8bb92d2a47a4c93b5f,4,6,1,0.843658
131,50464e8bb92d2a47a4c93b67,4,6,1,0.843658
145,50464e8bb92d2a47a4c93b70,4,6,1,0.847219
147,50464e8bb92d2a47a4c93b6a,4,6,1,0.849090
158,50464e8bb92d2a47a4c93b35,4,6,1,0.851293
172,50464e8bb92d2a47a4c93b81,4,6,1,0.851293
121,50464e8ab92d2a47a4c93a66,4,6,1,0.851293

In [55]:
combined.head()

                         id  school_code  class_year  subject_code         0
0  50464e87b92d2a47a4c9385d            1          10             1  1.000000
1  50464e8bb92d2a47a4c93b6c            4           6             1  0.836225
2  50464e8ab92d2a47a4c93ae4            1          10             1  0.976537
3  50464e87b92d2a47a4c93861            1          10             1  0.976537
4  50464e89b92d2a47a4c93a3f            4           8             1  0.905955

In [58]:
for col in combined.columns.values:
    print(col)

id
school_code
class_year
subject_code
0

In [38]:
for col in no_id_df.columns.values:
    print(col)

adjektiv
adjektive
adverb
adverbiale_bestimmungen
adverbien
aktiv_und_passiv
an_diesem_sonntag
argumentieren
artikel
balladen
berichte_schreiben
berichten
beschreiben
beschreibungen
besonderheiten_bei_[s]
bild-text-zuordnung
bildergeschichte
briefe_schreiben
brudermord_im_altwasser
class_year
der_einfache_satz
der_zusammengesetzte_satz
die_kegelbahn
einladung_schreibung
epik
erschließung_von_texten
erzählungen
erörternd_schreiben
fabeln
fremdwortschreibung
fremdwörter
gattungsmerkmale
gedichte
genus_verbi
geschichte_schreiben
gliederung_innerhalb_von_ganzsätzen
grammatik
grammatische_fachbegriffe
groß-_und_kleinschreibung
grundlagen
handlungsart
hilfsverben
hörkompetenz
interpunktion
karl_johann_philipp_spitta
kasus
komma
kommasetzung
kommunikation
konjunktion_und_subjunktion
kreativ_schreiben
kurzgeschichte
laut-buchstaben-zuordnung
lesekompetenz
lesen
lesestrategien
lesetagebuch
leseverstehen
lösung_für_lehrer
lösung_zur_selbstkontrolle_für_sus
methoden_im_unterricht
methodentraining
nebensatztypen
nebensätze
nomen
nomen_und_adjektive
nominalisierungen
objekte
pragmatisches_schreiben
produktion_von_sachtexten
produktionsorientierte_methoden
promomen
pronomen
prädikat
präpositionen
präpositionen_und_konjunktionen
rechtschreibung
rechtschreibung_&_zeichensetzung
reziprokes_lesen
richtig_schreiben
rollenspiele
s-laute
satzanalyse
satzanfänge_variieren
satzarten
satzbaupläne
satzbildung
satzglieder
satzglieder:_angaben
satzglieder:_ergänzungen
satzreihe_und_satzgefüge
school_code
schreiben
schreibkonferenz
schreibprozesse_initiieren
schreibverfahren
schriftspracherwerb
sprache_und_sprachgebrauch_untersuchen
sprachliche_strukturen_und_begriffe_auf_der_satzebene
sprachliche_strukturen_und_begriffe_auf_der_wortebene
sprachspiele
sprechen_und_zuhören
standbild
stationenlernen
strategien_für_schüler_zur_individuellen_fehleranalyse
subject_code
subjekt
substantiv
substantivierungen
szenisches_spielen
tempus
tempus_perfekt
tiere
umgang_mit_texten
verb
verben
verben_und_nomen
vorgangsbeschreibung
wegbeschreibung
wortarten
wortbildung
wortendungen
wortfamilien
wortfeld_sprechen
wortfelder
wortschatz
wörtliche_rede
zeichensetzung
zeichensetzung_haupt-_und_nebensätze
zeitformen_gemischt
zusammengesetzte_wörter
überarbeiten_von_texten

In [ ]:
# we need to calculate Tdif between the tags

In [ ]:
tfid_vectorizer = TfidfVectorizer()

In [ ]:
tag_matrix = tfid_vectorizer.fit_transform(tags)

In [ ]:
tag_vector = list(tag_matrix.toarray())

In [ ]:
tag_matrix.shape

In [ ]:
tv = pd.DataFrame(tag_vector)

In [ ]:
tv.head()

In [ ]:
tags.shape

In [ ]:
type(tags)

In [ ]:
tags.head()

In [ ]:
x = tags.dropna()

In [ ]:
x.shape

In [ ]:
x.head()

In [ ]:
tags.shape

In [ ]:
tag_matrix.toarray()

In [ ]:
tags.head()

In [ ]:
docs = documents_df[ [ "class_year", "school_code", "subject_code"]]

In [ ]:
docs.shape

In [ ]:
documents_df.shape

In [ ]:
oc_similarity = rec.calculate_document_similarity(docs[0:1], docs)

In [ ]:
oc_similarity

In [ ]:
oc_similarity.shape

In [ ]:
non_empty=documents_df.dropna()

In [ ]:
df.head()

In [ ]:
tags_only = df[["id", "tags"]]

In [ ]:
rest = df[["id", "class_year", "school_code", "subject_code"]]

In [ ]:
# combine the two back again

In [ ]:
rest.shape

In [ ]:
no_nulls=rest.dropna(subset=["class_year", "school_code", "subject_code"])

In [ ]:
tags_nnulls = tags_only.dropna()

In [ ]:
back = pd.concat([tags_nnulls, no_nulls], join='inner')

In [ ]:
back.shape

In [ ]:
back.head()

In [ ]:
back.tail()

In [ ]:
ta

In [ ]:
doc = documents_df[0:1]

In [ ]:
document_similarity = cosine_similarity(doc, non_empty)

In [ ]:
document_similarity

In [ ]:
document_similarity.shape

In [ ]:
type(document_similarity)

In [ ]:
document_similarity.sort()

In [ ]:
document_similarity

In [ ]:
documents_df.shape

In [ ]:
documents_data

In [ ]:
first_batch = documents_data[0]

In [ ]:
first_doc = documents_data[0][0]

In [ ]:
document_frame = rec.get_data_frame(first_batch)

In [ ]:
document_frame.head()

In [ ]:
document_similarity = cosine_similarity(first_doc, first_batch)

In [ ]:
documents_df[0:1]

In [ ]:
len(downloaded_documents_matrix)

## get a list of all tags

In [ ]:
tag_list = worker.get_all_tags()

In [ ]:
#tag_features = feature.DictVectorizer(tag_list, separator=",", sparse=True)

In [ ]:
#v = feature.DictVectorizer(separator=" ", sparse = True)

In [ ]:
ft = v.fit_transform(doc_tags)

In [ ]:
test = v.inverse_transform(ft)

In [ ]:
#test

In [ ]:
#v.get_feature_names()

In [ ]:
docs["count"] = 1

In [ ]:
docs.head()

In [ ]:
docs_by_subj = docs.groupby('subject').aggregate(sum)

In [ ]:
docs_by_subj.head(25)

In [ ]:
#docs_by_subj_and_year = docs.groupby('class_year').aggregate(sum)

In [ ]:
# class_years = docs_df["class_year"].count()

In [ ]:
#s = docs_df["school"].value_counts()

In [ ]:
cy = docs["class_year"].value_counts()

In [ ]:
cy.head(10)

In [ ]:
subj = docs["subject"].value_counts()

In [ ]:
subj.head(25)

In [ ]:
cy